{% extends 'base.html' %}

{% block contenido %}
<h2>{{ titulo }}</h2>

<form method="post">
    {% csrf_token %}
    {% for campo in form %}
    <div class="form-campo">
        {{ campo.label_tag }}
        {{ campo }}
        {% for error in campo.errors %}
            <div class="error">{{ error }}</div>
        {% endfor %}
    </div>
    {% endfor %}
    <button type="submit" class="btn">Guardar</button>
    <a class="btn btn-gris" href="{% url 'lista_categorias' %}">Volver al listado</a>
</form>
{% endblock %}
